---
const { id } = Astro.props;

const sermons = [
  {
    subject: "Biology",
    summary: "Caption",
    image: "/uploads/sermons/dna.webp",
  },
  {
    subject: "Chemistry",
    summary: "Caption",
    image: "/uploads/sermons/enzyme.webp",
  },
  {
    subject: "Physics",
    summary: "Caption",
    image: "/uploads/sermons/physics.webp",
  },
  {
    subject: "Maths",
    summary: "Caption",
    image: "/uploads/sermons/abacus.webp",
  },
  {
    subject: "Further Maths",
    summary: "Caption",
    image: "/uploads/sermons/math.webp",
  },
  {
    subject: "Economics",
    summary: "Caption",
    image: "/uploads/sermons/economic.webp",
  }
];
---

<section id={id} class="py-16 bg-gray-50 mb-10">
  <div class="container">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Subjects We Cover</h2>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        Add some subtitle here
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {sermons.map((sermon) => (
        <div class="card text-center p-8 group">
          <div class="w-24 h-24 mx-auto mb-4 rounded-full bg-primary-100 overflow-hidden flex items-center justify-center">
            <img
              src={sermon.image}
              alt={sermon.subject}
              loading="lazy"
              decoding="async"
              class="w-full h-full object-cover transition-transform duration-300 ease-in-out scale-90 group-hover:scale-100"
            />
          </div>
          <h3 class="text-xl font-bold mb-3">{sermon.subject}</h3>
          <p class="text-gray-700 mb-4">{sermon.summary}</p>
        </div>
      ))}
    </div>
  </div>
</section>
